---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import Listview from "../components/Listview.astro";
import booknu from "../assets/book-nu.png";

const url = "https://lmpnyqlifuywoupnqsea.supabase.co/rest/v1/Hold?select=*";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxtcG55cWxpZnV5d291cG5xc2VhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NzgxOTEwMCwiZXhwIjoyMDYzMzk1MTAwfQ.9OzUYyGROvB8tUL6mhqGD37tCYoxlJXqTLh2WQLHEck";
const options = {
  method: "GET",
  headers: {
    apikey: key,
    Authorization: `Bearer ${key}`,
    "Content-Type": "application/json",
  },
};

const data = await fetch(url, options).then((res) => res.json());

// Filtrer holdtræning og 1:1 personal
const holdtræning = data.filter((hold) => hold.type === "HOLDTRÆNING");
const personal = data.filter((hold) => hold.type === "1:1 PERSONAL");
---

<Layout title="Book nu">
  <div class="bookydre ydre flex">
    <div class="bookindre indre flexcol">
      <div class="text-indre flex">
        <div class="text flexcol">
          <h1>For alle - uanset dit udgangspunkt</h1>
          <p>
            Hos Ashira Oure Boxing Club er dørene åbne for alle. Uanset om du
            drømmer om at blive den næste Mike Tyson, søger en meningsfuld
            fritidsaktivitet, eller ønsker at komme i form med ægte formål – så
            er du velkommen her. Vi tror på, at boksekunsten rummer noget
            tidløst: disciplin, karakter og kampgejst, som styrker både krop og
            sind. Du behøver ikke have erfaring – kun viljen til at møde dig
            selv, én træning ad gangen. <br /><br />Uanset dit mål, din erfaring
            eller din hverdag, har vi et tilbud, der passer til dig. Hos Ashira
            Oure Boxing Club møder vi dig dér, hvor du er – og hjælper dig med
            at vokse derfra. Herunder finder du vores forskellige løsninger, så
            du kan vælge det træningsforløb, der matcher dine ambitioner og
            behov.
          </p>
        </div>
        <img src={booknu.src} alt="" />
      </div>

      <div class="holdtræningerydre">
        <h2>Holdtræninger</h2>
        <div class="hold">
          {holdtræning.map((hold) => <Listview hold={hold} />)}
        </div>
        <h2>1:1 træninger</h2>
        <div class="hold">
          {personal.map((hold) => <Listview hold={hold} />)}
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .bookydre {
    padding: 50px 0;
    margin-top: 6vh;
    position: relative;
  }
  .bookindre {
    padding: 10px;
  }

  .text-indre {
    display: flex;
    align-items: stretch;
    gap: 40px;
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
    justify-content: space-between;
  }

  .text {
    width: 50ch;
  }

  .text-indre img {
    flex: 1 1 0;
    width: 40%;
    height: 300px; /* Stræk billedet i højden */
    object-fit: cover;
    object-position: 0 10%;
    box-shadow: 5px 5px 0px 0px var(--color-white);
    filter: grayscale(100%);
  }

  /* Responsiv til mobil */
  @media (max-width: 800px) {
    .bookydre {
      margin-top: 0;
    }
    .text-indre {
      flex-direction: column;
    }
    .text {
      width: 100% !important;
      max-width: 50ch;
    }
    .text-indre img {
      width: 100%;
      height: 250px; /* Fast højde på mobil */
      aspect-ratio: 1/1; /* Evt. tilføj igen på mobil */
      object-position: 0 10%;
    }
  }

  .hold {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 70px;
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: clamp(2rem, 4vw, 3rem);
  }
  .holdtræningerydre {
    margin: 10px;
  }
</style>
