---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import Listview from "../components/Listview.astro";

const url = "https://lmpnyqlifuywoupnqsea.supabase.co/rest/v1/Hold?select=*";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxtcG55cWxpZnV5d291cG5xc2VhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NzgxOTEwMCwiZXhwIjoyMDYzMzk1MTAwfQ.9OzUYyGROvB8tUL6mhqGD37tCYoxlJXqTLh2WQLHEck";
const options = {
  method: "GET",
  headers: {
    apikey: key,
    Authorization: `Bearer ${key}`,
    "Content-Type": "application/json",
  },
};

const data = await fetch(url, options).then((res) => res.json());

// Filtrer holdtræning og 1:1 personal
const holdtræning = data.filter((hold) => hold.type === "HOLDTRÆNING");
const personal = data.filter((hold) => hold.type === "1:1 PERSONAL");
---

<Layout title="Book nu">
  <div class="bookydre ydre flex">
    <div class="bookindre indre flexcol">
      <div class="text flexcol">
        <h1>For alle - uanset dit udgangspunkt</h1>
        <p>
          Hos Ashira Oure Boxing Club er dørene åbne for alle. Uanset om du
          drømmer om at blive den næste Mike Tyson, søger en meningsfuld
          fritidsaktivitet, eller ønsker at komme i form med ægte formål – så er
          du velkommen her. Vi tror på, at boksekunsten rummer noget tidløst:
          disciplin, karakter og kampgejst, som styrker både krop og sind. Du
          behøver ikke have erfaring – kun viljen til at møde dig selv, én
          træning ad gangen. <br /><br />Uanset dit mål, din erfaring eller din
          hverdag, har vi et tilbud, der passer til dig. Hos Ashira Oure Boxing
          Club møder vi dig dér, hvor du er – og hjælper dig med at vokse
          derfra. Herunder finder du vores forskellige løsninger, så du kan
          vælge det træningsforløb, der matcher dine ambitioner og behov.
        </p>
      </div>
      <div class="holdtræningerydre">
        <h2>Holdtræninger</h2>
        <div class="hold">
          {holdtræning.map((hold) => <Listview hold={hold} />)}
        </div>
        <h2>1:1 træninger</h2>
        <div class="hold">
          {personal.map((hold) => <Listview hold={hold} />)}
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .bookydre {
    padding: 200px 0;
    margin-top: -6vh;
    position: relative;
  }
  .bookindre {
    padding: 10px;
  }

  .text {
    padding: 0 10px 100px;
    max-width: 70ch;
  }

  .hold {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 70px;
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: clamp(2rem, 4vw, 3rem);
  }
  .holdtræningerydre {
    margin: 10px;
  }
</style>
