---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import logo from "../assets/logo.svg";
---

<Layout title="Kontakt AOBC">
  <div class="kontakt-container">
    <form class="kontakt-form">
      <div>
        <label for="navn">Navn</label>
        <input
          type="text"
          id="navn"
          name="navn"
          placeholder="Dit navn"
          required
        />
      </div>
      <div>
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Din e-mail"
          required
        />
      </div>
      <div>
        <label for="besked">Besked</label>
        <textarea id="besked" name="besked" placeholder="Din besked..." required
        ></textarea>
      </div>
      <button type="submit" class="kontakt-btn">Send</button>
    </form>
    <div class="kontakt-info">
      <div>
        <h3>RING TIL OS</h3>
        <p>
          Har du spørgsmål om træning, hold eller prøvetime?<br />
          Du er altid velkommen til at ringe — vi står klar til at hjælpe dig.<br
          />
        </p>
        <p><a class="linkitekst" href="tel:12345678">Tlf.: +4512345678</a></p>
      </div>
      <div>
        <h3>SKRIV TIL OS</h3>
        <p>
          Vil du høre mere om introhold, firmatræning eller samarbejde?<br />
          Send os en mail — vi svarer hurtigst muligt.<br />
        </p>
        <a class="linkitekst" href="mailto:“info@ashiraboxing.dk”"
          >info@ashiraboxing.dk</a
        >
      </div>
      <div>
        <h3>BESØG OS</h3>
        <p>
          Kom forbi og mærk stemningen i klubben.<br />
          Vi holder til i Wellcome Fitness i Hellerup.<br />
        </p>
        <a class="linkitekst" href="https://g.co/kgs/Z83JAgK"
          >Callisensvej 14, 2900 Hellerup</a
        >
        <p>
          <br />

          Ashira Oure Boxing Club<br />
          v/ Evans Ashira
        </p>
      </div>
    </div>
  </div>
</Layout>

<style>
  .kontakt-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    padding: 3rem 10px;
    margin: 15vh 0;
    color: var(--color-white);

    button {
      display: flex;
      padding: 7px 25px;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;
      border: 1px solid #000;
      background: var(--color-white, #f8f9fa);
      box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 0.25);
      transition: all 0.4s ease;
      width: max-content;
      font-family: "dharma-gothic-e", sans-serif;
      font-size: clamp(1.6em, 1.3vw, 1.3em);
    }
    label {
      font-family: "dharma-gothic-e", sans-serif;
      font-size: 1.4rem;
    }
  }
  .linkitekst {
    font-size: clamp(0.7rem, 1vw, 0.9rem);
    margin: 0.5rem 0;
    font-family: "helvetica-neue", sans-serif;
    color: var(--color-white);
    text-decoration: underline;
  }
  .kontakt-form {
    flex: 1;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .kontakt-form label {
    font-weight: bold;

    margin-bottom: 0.5rem;
    display: block;
  }
  .kontakt-form input,
  .kontakt-form textarea {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 2px;
    margin-top: 0.5rem;
    color: #181716;
  }
  .kontakt-form textarea {
    min-height: 120px;
  }
  .kontakt-info {
    flex: 1;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff9ed;
  }
  .kontakt-logo {
    margin-top: 3rem;
    width: 260px;
  }
  @media (max-width: 600px) {
    .kontakt-container {
      flex-direction: column;
      gap: 2rem;
      padding: 2rem 1rem;
      max-width: 350px;
      margin: 50px auto !important;
      align-items: center;
    }
    .kontakt-logo {
      width: 180px;
    }
    .kontakt-info {
      gap: 10px;
      div {
        width: 100%;
      }
      align-items: center;
    }
  }
</style>
