---
import Layout from "../layouts/Layout.astro";
import omos from "../assets/om-os.jpg";
---

<Layout title="Om os">
  <div class="hero">
    <video autoplay muted loop playsinline class="hero-video">
      <source
        src="https://mwmedier.dk/keammd/2sem/10_eksamen/Lucas_video.mp4#t=10,20"
        type="video/mp4"
      />
    </video>
  </div>
  <div class="banner"></div>
  <div class="om-os-ydre flexcol">
    <div class="om-os flexcol">
      <h1>Hvem er vi?</h1>
      <div class="om-os-indre flex">
        <div class="text flexcol">
          <h2>
            Ashira Oure Boxing Club er skabt på erfaring, passion og en
            urokkelig vindermentalitet.
          </h2>
          <p>
            Bag klubben står tidligere professionel bokser og OL-deltager Evans
            Ashira – en atlet med 29 sejre ud af 32 kampe og en karriere, der
            har ført ham til verdens største bokseringe. I dag deler han sin
            erfaring, disciplin og kærlighed til sporten med næste generation.
            <br /><br />
            Klubben er dog mere end bare et sted at træne. Sammen med sine tre sønner
            driver Evans dagligdagen med fokus på moderne træning, personlig udvikling
            og stærkt fællesskab. Her føres arven videre – både i ringen og i hjertet.
          </p>
        </div>
        <img src={omos.src} alt="" />
      </div>

      <video
        class="video"
        controls
        src="https://mwmedier.dk/keammd/2sem/10_eksamen/Lucas_video.mp4"
      ></video>
    </div>
    <div class="find-os flexcol">
      <h2>Find os – og få et kig indenfor</h2>
      <p>
        Kom tættere på Ashira Oure Boxing Club! Vi holder til i Waterfront
        Centeret. Brug kortet nedenfor til at finde vej, og tag en 3D virtuel
        rundtur i klubben, før du besøger os.
      </p>
      <iframe
        src="https://storage.googleapis.com/maps-solutions-movlz2t660/locator-plus/n7iy/locator-plus.html"
        width="100%"
        height="500px"
        style="border:0;"
        loading="lazy"
      >
      </iframe>
    </div>
  </div>
</Layout>

<style>
  .hero {
    width: 100%;
    height: 90vh;
    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .banner {
    width: 100%;
    margin-top: -4px;
    height: calc(10vh + 4px);
    background-image: url("/champions_banner.png");
    background-repeat: repeat-x;
    background-size: auto 100%; /* Gør billedet 100% højden af .banner */
    background-position: top;
    z-index: 10;
    position: relative;
    animation: banner 10s linear infinite;
  }
  @keyframes banner {
    0% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  @media (max-width: 768px) {
    .hero {
      height: 50vh;
    }
    .banner {
      height: calc(5vh + 3px);
    }
  }

  .video {
    margin: 50px 0 0;
    width: 100vw;
    aspect-ratio: 16/9;
  }

  .om-os-ydre {
    display: flex;
    gap: 70px;
    max-width: 1020px;
    margin: 50px auto 15vh;
    color: #fff;
  }

  @media (max-width: 1040px) {
    .om-os-ydre {
      padding: 0 40px;
    }
  }

  .om-os {
    align-items: center;
    h1 {
      margin-bottom: 3rem;
    }
    .om-os-indre {
      display: flex;
      align-items: stretch;
      gap: 40px;
      width: 100%;
      justify-content: space-between;
    }

    .text {
      width: 50ch;
    }

    .om-os-indre img {
      flex: 1 1 0;
      width: 40%;
      height: 300px; /* Stræk billedet i højden */
      object-fit: cover;
      object-position: 0 60%;
      box-shadow: 5px 5px 0px 0px var(--color-white);
      filter: grayscale(100%);
    }
  }

  .find-os {
    text-align: center;
    align-items: center;
    justify-content: center;
    p {
      max-width: 60ch;
      margin-bottom: 3rem;
    }
  }

  /* Responsiv til mobil */
  @media (max-width: 800px) {
    .om-os-indre {
      flex-direction: column;
      align-items: center !important;
      justify-content: center;
    }
    .text {
      text-align: center;
      width: 100% !important;
      max-width: 50ch;
    }
    .om-os-indre img {
      width: 100%;
      height: 250px; /* Fast højde på mobil */
      aspect-ratio: 1/1; /* Evt. tilføj igen på mobil */
      object-position: 0 50%;
    }
  }
</style>
