---
import "../styles/global.css";
import headerbillede from "../assets/header.png";
import logo from "../assets/logo.svg";
---

<div class="header">
  <img class="headerbilede" src={headerbillede.src} alt="" />
  <div class="link">
    <a href="/trænerne">Trænere</a>
    <a href="/om_os">Om os</a>
    <a href="/"><img src={logo.src} alt="" /></a>
    <a href="/kontakt">Kontakt</a>
    <a href="/holdtræning">Book nu</a>
  </div>
</div>

<style>
  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  .link a:hover {
    text-shadow: 2px 2px 0px #bf1f26;
  }
  .headerbilede {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1;
    grid-row: 1;
  }
  a {
    color: #efefef;
    font-family: "Dharma Gothic M";
    font-size: 2.3125rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .link {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 13rem;
    z-index: 10000;
    a {
      align-items: center;
      img {
        width: 8rem;
        height: 6rem;
        padding-top: 5px;
      }
    }
  }

  @media (max-width: 768px) {
    .link {
      display: none;
      a {
        align-items: center;
        img {
          width: 8rem;
          height: 6rem;
          padding-top: 5px;
        }
      }
    }
  }
</style>
